<ion-header>

  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ผู้ดูแลการเลือกตั้งประเทศไทย</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row margin class="background">
    <ion-col col-3>
      <ion-item class="background" no-lines>
        <ion-label>รูปแบบการตั้งค่าคำนวณ</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngFor="let areas of listProvice; let i = index" class="bgTabalcol2 bgTabalcolxx">
  <button ion-item (click)="showDetailArea(i,areas)" no-lines>
    <ion-row margin>
    <ion-col col-11>
      {{areas}}
    </ion-col>
    <ion-col col-1>
      <ion-icon *ngIf="status[i] == true" name="ios-arrow-dropright"></ion-icon>
      <ion-icon *ngIf="status[i] == false" name="ios-arrow-dropdown"></ion-icon>
    </ion-col>
    </ion-row>
   
  </button>

  <div *ngIf="status[i] == false">
    <div *ngFor="let subAreas of listArea">
      <ion-item no-lines>
        <button ion-item (click)="GoCalculate(subAreas.subDistrict)">
          {{subAreas.district}} {{subAreas.subDistrict}}
        </button>
      </ion-item>
    </div>
  </div>
  
</div>


</ion-content>