page-format-calculate {
    .bgTabalcol2:nth-child(even){
        background:rgb(206, 93, 93); 
        font-size: 24px;
    }
    
    .bgTabalcolxx:nth-child(odd){
        background:rgb(183, 192, 60); 
        font-size: 24px;
    }

}
