<!--
  Generated template for the DataElectionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ผู้ดูแลการเลือกตั้งประเทศไทย</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      5 พรรคที่คะแนนสูงสุดใน {{nameArea}}
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-grid padding>
    <ion-row>
      <ion-col col-6>
        <ion-label class="sizeFont">ตั้งค่าคะแนนเป้าหมาย</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label class="sizeFont">เพิ่มแทค</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="groove" type="number"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="groove" type="text" [(ngModel)]="getTag.text">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button ion-button block color="green" (click)="sendtag()">บันทึก</button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid text-center>
    <ion-row>
      <ion-col col-12 text-center style=" background: #4E5983;color: white">
        <h1>ผลสรุปรวม</h1>
      </ion-col>
    </ion-row>
    <ion-row class="bgTabalcol1" text-left>
      <ion-col col-1></ion-col>
      <ion-col text-center col-3>
        พรรค
      </ion-col>
      <ion-col text-center col-2></ion-col>
      <ion-col text-center col-2>
        ผู้สมัคร
      </ion-col>
      <ion-col col-1>
      </ion-col>
      <ion-col text-center col-2>
        คะแนน
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
    <div *ngFor="let data of listScoreParty;let i = index" class="bgTabalcol2 bgTabalcolxx">
      <ion-row *ngIf="i < 5">
        <ion-col col-1></ion-col>
        <ion-col col-3 text-left align-self-center>
          {{data.nameParty}}
        </ion-col>
        <ion-col text-center col-2></ion-col>
        <ion-col col-2 text-left align-self-center>
          {{data.nameRegister}}
        </ion-col>
        <ion-col col-1 text-right align-self-center>
          <div *ngIf="data.statusEdit" margin>
            <img src="../../assets/imgs/pencil-on-a-notes-paper4.png">
          </div>
        </ion-col>
        <ion-col col-2 text-left align-self-center>
          {{data.score | number}}
        </ion-col>
        <ion-col col-1 text-center align-self-center (click)="Editdata(data)">
          แก้ไข
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="bgTabalcol2">
      <ion-col col-1></ion-col>
      <ion-col col-3 text-left>
        {{other.name}}
      </ion-col>
      <ion-col col-4 text-center>
      </ion-col>
      <ion-col col-1 text-center>
      </ion-col>
      <ion-col col-2 text-left>
        {{other.score | number}}
      </ion-col>
      <ion-col col-1 text-center>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>