page-home {

}

.text{
    font-size: 24px;
   
}
.background{
    background:#3A4362; 
    font-size: 24px;
    color: #FFFFFF
}

.backgroundNav{
    background:#4E5A84; 
    color: #FFFFFF
}
.bgTabalcol1{
    background:#FFFFFF; 
    font-size: 24px;
    
}

.bgTabalcol2{
    background:#FAFBFD; 
    font-size: 24px;
}
.bgTabalcol3{
    background:#EFEEF3; 
    font-size: 24px;

}
.Seg2text{
    font-size: 24px;
}
.Seg2bg1{
    background:#4E5A84;
    color: #FFFFFF
}
.Seg2bg2{
    background:#FAFBFD;
}
.Seg2bg3{
    background:#EFEEF3;
}

.lineT {
    border: 0.5px solid white;
}

.backgroundGrey {
    background: rgba(85, 85, 85, 1.0)
}

.alignCenter {
    vertical-align: middle;
}

