<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ผู้ดูแลการเลือกตั้งประเทศไทย</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-row margin class="Seg2bg1">
    <ion-col text-center col-2 class="text">
      <ion-label>ค้นหาพรรค</ion-label>
    </ion-col>
    <ion-col col-10 class="text">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
  </ion-row> -->

  <ion-row class="backgroundNav">
    <ion-col col-3 padding>
      <ion-label class="text">คะแนนคาดการณ์</ion-label>
    </ion-col>
    <ion-col col-7></ion-col>
    <ion-col col-2 class="backgroundNav" text-center align-self-center>
      <button ion-button block color="light" (click)="SendResultScore()">ส่งผลประเมิน</button>
    </ion-col>
  </ion-row>

  <ion-row class="background">
    <ion-col col-3 class="background" *ngFor="let data of listScore;let i = index">
      <div *ngIf="i < 4">
        <ion-item class="background" no-lines>
          <ion-label>{{data.partyName}}</ion-label>
          <ion-checkbox color="danger" [(ngModel)]="data.isChecked" (ionChange)="checkFilter()"></ion-checkbox>
        </ion-item>
      </div>

      <div *ngIf="i >= 4">
        <div *ngIf="checkShowMoreParty == true">
          <ion-item class="background" no-lines>
            <ion-label>{{data.partyName}}</ion-label>
            <ion-checkbox color="danger" [(ngModel)]="data.isChecked" (ionChange)="checkFilter()"></ion-checkbox>
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row *ngIf="checkShowMoreParty" class="background">
    <ion-col col-3>
      <ion-item class="background" no-lines>
        <ion-label>อื่นๆ</ion-label>
        <ion-checkbox color="danger" [(ngModel)]="otherScore.isChecked" (ionChange)="checkFilter()"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row> -->

  <ion-row class="lineT"></ion-row>

  <ion-row padding text-center class="background textsmall" >
    <ion-label *ngIf="!checkShowMoreParty" (click)="ShowMoreParty()">การแสดงผลของตาราง
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </ion-label>
    <ion-label *ngIf="checkShowMoreParty" (click)="ShowMoreParty()">การแสดงผลของตาราง
      <ion-icon name="md-arrow-dropup"></ion-icon>
    </ion-label>
  </ion-row>



  <div margin-top>

    <ion-row class="bgTabalcol1">
      <ion-col col-3>
        <h3 text-center>พรรค</h3>
      </ion-col>
      <ion-col col-2>
        <h3 text-center>พึงมี</h3>
      </ion-col>
      <ion-col col-2>
        <h3 text-center>แบ่งเขต</h3>
      </ion-col>
      <ion-col col-2>
        <h3 text-center>บัญชีรายชื่อ</h3>
      </ion-col>
      <ion-col col-3>
        <h3 text-center>เปอร์เซ็นต์</h3>
      </ion-col>
    </ion-row>


    <ion-row *ngFor="let scoreParty of listShowScore" class="bgTabalcol2 bgTabalcolxx">
      <ion-col text-left col-3>
        {{scoreParty.partyName}}
      </ion-col>
      <ion-col text-center col-2>
        {{scoreParty.haveScore}}
      </ion-col>
      <ion-col text-center col-2 (click)="showScoreAreaOfParty(scoreParty.idParty)">
        {{scoreParty.areaScore}}
      </ion-col>
      <ion-col text-center col-2>
        {{scoreParty.nameListScore}}
      </ion-col>
      <ion-col text-center col-3>
        {{scoreParty.percentScore | number:'1.2-2'}} %
      </ion-col>
    </ion-row>

    <ion-row class="bgTabalcol2 bgTabalcolxx" *ngIf="otherScore.status">
      <ion-col text-left col-3>
        อื่นๆ
      </ion-col>
      <ion-col text-center col-2>
        {{otherScore.score}}
      </ion-col>
      <ion-col text-center col-2>
        {{otherScore.scoreArea}}
      </ion-col>
      <ion-col text-center col-2>
        {{otherScore.scorePartyList}}
      </ion-col>
      <ion-col text-center col-3>
        {{otherScore.scorePercent | number:'1.2-2'}} %
      </ion-col>
    </ion-row>

  </div>
</ion-content>