page-data-election {
    .bgTabalcol2:nth-child(even){
        background:#FAFBFC; 
        font-size: 24px;
    }
    
    .bgTabalcolxx:nth-child(odd){
        background:#EFEEF3; 
        font-size: 24px;
    }
}
