page-data-election {
    .bgTabalcol2:nth-child(even){
        background:rgb(221, 221, 221); 
        font-size: 24px;
    }
    
    .bgTabalcolxx:nth-child(odd){
        background:#FFFFFF; 
        font-size: 24px;
    }

}
